{% extends 'base.html.twig' %}

{% block title %}SnowTricks !{% endblock %}

{% block body %}
{{ parent() }}
<div id="top" class="home_page">
    <div class="header-container">
        <div class="main_picture"></div>
        <h1>Welcome on SnowTricks</h1>
        <a class="soft-link" href="{{ path('app_homepage') }}#tricksSection"><img class="down_arrow" src="{{ asset('png/scroll-arrow.png') }}" alt="DownArrow" /></a>
    </div>
    <div id="tricksSection" class="container-fluid">
        {% if is_granted('ROLE_USER') %}
        <div class="add_trick_container">
            <div class="add_trick_btn">
                <a href="{{ path('trick_edit_new') }}" class="btn btn-primary">Add Trick</a>
            </div>
        </div>
        {% endif %}
        <div class="trick_container">
        {% include('trick/load_more.html.twig') %}
        </div>
        <div class="load-more-container">
            <div class="load-more-btn">
                <a id="load-more" href="{{ path('load_more_tricks', { lastId : tricks|last.id}) }}" class="btn btn-primary">Load More</a>
            </div>
            <a class="soft-link" href="{{ path('app_homepage') }}#top"><img class="up_arrow" src="{{ asset('png/scroll-arrow.png') }}" alt="UpArrow" /></a>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/confirm_delete.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/load_more_tricks.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/home_page.js') }}" type="text/javascript"></script>
{% endblock %}
