{% extends 'base.html.twig' %}
{% block title %}Registration{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="registration_page">
        <h1>Registration</h1>
        <div class="registration_form">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-lg btn-primary" type="submit">Create an account</button>
            {{ form_end(form) }}
            <p><a href="{{ path('app_login') }}">Already an account ?</a></p>
        </div>
    </div>
{% endblock %}



